.btn{
    display: none;

}

.tag_input{
    display: none;
}

.imageSide{
    display: flex;
    justify-content: center;
}

.actionSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.displayBtns{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#showBtn{
    width: 200px;
}

#hideBtn{
    width: 200px;
}

#tag-list{
    display: flex;
}

.buttons{
    padding: 5px;
}

@media screen and (max-width: 600px){
    .actionSide{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}