.photoPageWrapper{
    display: flex;
    justify-content: space-around;
}

.actionSide{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

img{
    width: 100%;
    height: auto;
}

.photoActions{
    display: flex;
    flex-direction: row;
}

.photo-info{
    padding: 20px;
}

.unacceptedComm{
    color:grey;
}

.unacceptedComm:hover{
    color: black;
}

.uncomment{
    display: flex;
    justify-content: space-between;
}

.uncommBtn{
    color: gray;
    transition: 0.5;
    border-radius: 0px;
}

.commAcc:hover{
    background-color: #c8faa9;
    color: #3e8d76;
}

.commRej:hover{
    background-color: #ffcbd1;
    color: #de0a26;
}

@media screen and (max-width: 600px) {
    .photoPageWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .photoActions button{
        font-size: 20px;
    }
}
