
.wrapper{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    grid-template-areas: 
    "cover"
    "gallery";
}

.cover{
    border-bottom: black 3px solid;
    grid-area: cover;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover h1{
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 40px;
    grid-area: gallery;
}

.album{
    border: black 2px solid;
    height: 180px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all 500ms;
    font-size: 20px;
    text-shadow: 1px 1px 5px white;
}
.background{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    filter: blur(9px);
    -webkit-filter: blur(9px);
}
.background:hover{
    filter: blur(5px);
    -webkit-filter: blur(5px)
}

.name{
    position: absolute;
    z-index: 1;
    opacity: 1.0;
}

.cover1{
    background-image: url(https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?cs=srgb&dl=pexels-helena-lopes-696218.jpg&fm=jpg);
    
}

.cover2{
    background-image: url(https://images.pexels.com/photos/3394310/pexels-photo-3394310.jpeg?cs=srgb&dl=pexels-inga-seliverstova-3394310.jpg&fm=jpg);

}

.cover3{
    background-image: url(https://images.pexels.com/photos/417194/pexels-photo-417194.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.cover4{
    background-image: url(https://images.pexels.com/photos/7713351/pexels-photo-7713351.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

}

.cover5{
    background-image: url(https://images.pexels.com/photos/2808402/pexels-photo-2808402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.cover6{
    background-image: url(https://images.pexels.com/photos/698907/pexels-photo-698907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

@media only screen and (max-width: 600px) {
    .gallery{
        grid-template-columns: repeat(2, 1fr);
        gap: 5px 5px;
    }

    .cover{
        border-bottom: black 2px solid;
        height: 20px;
    }

    .cover h1{
        font-size: 15px;
    }

    .album{
        border: black 2px solid;
        height: 100px;
        width: 100px;
        font-size: 10px;
    }
}