.navbar{
    z-index: 10;
}
.wrapper{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
}

.cover{
    border-bottom: black 2px solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    padding: 10px;
}

svg{
    height: 20px;
    width: 20px;
    fill: black;
}

.album{
    background-color: antiquewhite;
    border: black 2px solid;
    height: 192px;
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    font-size: 20px;
    color: black;
}

.album:hover{
    font-size: 25px;
    text-shadow: 0px 0px 5px white;
}

@media only screen and (max-width: 600px){
    .album{
        height: 100px;
        width: 500px;
        font-size: 20px;
    }
    
    .album:hover{
        font-size: 20px;
    }
}