.photo{
    width: 560px;
    margin-left: 28px;
    margin-top: 15px;
}
.caption-box{
        width: 560px;
        height: auto;
        background: transparent;
        margin-left: 28px;
        font-size: 1.1em;
}
.tags-box{
    width: 560px;
        height: auto;
        background: transparent;
        margin-left: 28px;
        font-family: 'Roboto';
        font-size: 1.1em;
        color:  #003060;
}