* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background: #FEECE9;
  font-family: Arial;
}
  a {
  text-decoration: none;
 }

  li {
  display: list-item;
  list-style: none;
}

.header {
  text-align: center;
  padding: 32px;
}

.logo {
  font-family: 'Cooper Black', sans-serif;
  font-size: 2.5em;
  color: #003060;
 }
  .menu {
  display: flex;
  gap: 1em;
  font-size: 1.4em;
 }

 .menu a {
  padding: 5px 14px;
 }
 .menu a:hover {
  background-color: whitesmoke;
  transition: 0.3s ease;
 }
 
 .menu a{
     color: gray;
 }
.active{
  background-color: whitesmoke;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 25px 30px;
  background-color: white;
 }

 .nav-links a {
  color: gray;
 }

.container {
  margin: 50px auto;
  width: 700px;
  height: 100px
}

.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  background-color: white;
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px 0px 30px;
}


.column {
  flex: 25%; 
  max-width: 25%;
  padding: 30px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
}
/* Responsive layout */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .container {
    margin: 50px auto;
    width: 500px;
    height: 80px
}
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .container {
    margin: 50px auto;
    width: 80%;
    height: 60px
}
}

/* Responsive layout */
@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .container {
    margin: 50px auto;
    width: 70%;
    height: 30px
  }
}
