.profile-pic {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border-style: double;
  border-color: #003060;
}

body {
  background: white;
  font-family: 'Roboto';
}

.content {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  padding: 35px;
  align-items: center;
  gap: 30px;
  font-size: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: 100%;
  gap: 5px;
}

.photo {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 500px;
  height: fit-content;
  max-height: 600px;
}

.wrapper {
  display: grid;
  background-color: #fafafa;
  grid-template-columns: 1fr 0.8fr 2fr 10fr 3.8fr;
  padding-bottom: 5px;

  padding: 10px;
  align-items: center;
}

button {
  font-size: 18px;
  border-radius: 10px;
  border-style: groove;
  color: #003060;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-color: whitesmoke;
  font-family: 'Roboto';
}

button:hover {
  background-color: whitesmoke;

}

.btn1 {
  grid-column-start: 2;
  grid-column-end: 2;

}

.btn2 {
  grid-column-start: 3;
  grid-column-end: 3;
}

.btn3 {
  grid-column-start: 5;
  grid-column-end: 5;
}


.myclass {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
