<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="styleUser.css" />
    <link rel="stylesheet" href="comment.css" />
    <link rel="stylesheet" href="photo.css" />
    <link href="http://fonts.cdnfonts.com/css/cooper-black" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>TW</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">BPIC</div>
        <div class="menu">
            <a href="index.html"><i class="fa fa-home"> Home </i></a>
            <a href="album-gallery.html"><i class="fa fa-folder"> Albums </i> </a>
            <a href="user.html" class="active"><i class="fa fa-user"> User </i></a>
        </div>
    </nav>
    <section>
        <div class="wrapper">
            <div class="btn1"> <button><i class="fa fa-filter"></i>Filter </i> </button></div>
            <div class="btn2"> <button><i class="fa fa-eye-slash"></i> Switch to private </i> </button></div>
            <div class="btn3"> <input type="file" name="file" id="file" class="myclass" />
                <button> <label for="file"> <i class="fa fa-plus"> Upload picture </i> </label></button>
            </div>
        </div>

    </section>
    <hr>
    <section class="content">
        <div>
            <img src="./pics/avatar1.jpg" alt="profile-pic" class="profile-pic">
        </div>
        <div>
            @username
        </div>
    </section>
    <hr>
    <main class="gallery">
                <section id="app">
                    <div ><img src="./pics/swatch2.jpeg" class="photo"></div>
                    <div class="caption-box"> <b> @username: </b>  My first post on this app</div>
                    <div class="tags-box">   <b> #bpic #project #group</b> </div>
                    <div class="container-comm">
                        <div class="row">
                            <div class="col-6">
                                <div class="comment">
                                    <p v-for="items in item" v-text="items"></p>
                                </div>
                                <!--End comment-->
                            </div>
                            <!--End Col-->
                        </div>
                        <!--End row-->
                        <div class="row">
                            <div class="col-6">
                                <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                                    @keyup.enter="addItem()"></textarea>
                                <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add
                                    comment</button>
                            </div>
                            <!--end col-->
                        </div>
                        <!--End row-->
                    </div>
                    <!--End Container-->
                </section>
                <!--end app-->


                <section id="app">
                    <div><img src="./pics/swatch3.jpeg" class="photo"></div>
                    <div class="caption-box"> <b>@username:</b> My second post on this app</div>
                    <div class="tags-box">   <b> #bpic #project #group</b> </div>
                    <div class="container-comm">
                        <div class="row">
                            <div class="col-6">
                                <div class="comment">
                                    <p v-for="items in item" v-text="items"></p>
                                </div>
                                <!--End comment-->
                            </div>
                            <!--End Col-->
                        </div>
                        <!--End row-->
                        <div class="row">
                            <div class="col-6">
                                <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                                    @keyup.enter="addItem()"></textarea>
                                <button v-on:click="addItem()" class='primaryContained float-left' type="submit">Add
                                    comment</button>
                            </div>
                            <!--end col-->
                        </div>
                        <!--End row-->
                    </div>
                    <!--End Container-->
                </section>
                <!--end app-->


                <section id="app">
                    <div><img src="./pics/swatch1.jpeg" class="photo"></div>
                    <div class="caption-box"> <b>@username:</b> My last post on this app</div>
                    <div class="tags-box">   <b> #bpic #project #group</b> </div>
                    <div class="container-comm">
                        <div class="row">
                            <div class="col-6">
                                <div class="comment">
                                    <p v-for="items in item" v-text="items"></p>
                                </div>
                                <!--End comment-->
                            </div>
                            <!--End Col-->
                        </div>
                        <!--End row-->
                        <div class="row">
                            <div class="col-6">
                                <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                                    @keyup.enter="addItem()"></textarea>
                                <button v-on:click="addItem()" class='primaryContained float-left' type="submit">Add
                                    comment</button>
                            </div>
                            <!--end col-->
                        </div>
                        <!--End row-->
                    </div>
                    <!--End Container-->
                </section>
                <!--end app-->
            

    </main>


</body>

</html>