* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background: white;
  font-family: 'Roboto';
}
a {
  text-decoration: none;
 }
 
.header {
  text-align: center;
  padding: 32px;
}

.logo {
  font-family: 'Cooper Black', sans-serif;
  font-size: 2.7em;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--c1, #1d3679), var(--c2, #63acb0) 51%, var(--c1, #1d3679)) var(--x, 0)/ 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 100px;
 }

 .logo:hover { --x: 100%; }

  .menu {
  display: flex;
  gap: 1em;
  font-size: 1.4em;
 }

 .menu a {
  padding: 5px 14px;
 }

 .menu a:hover {
  background-color: #b2e2ff;
  transition: 0.3s ease;
 }

 hr{
   background-color: #003060;
 }

 a:link {
  color: #003060;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #003060;
  background-color: transparent;
  text-decoration: none;
}
 
 .menu a{
     color: #003060;
 }
.active{
  background-color: whitesmoke;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 25px 30px;
  background-color: #f2ffff;
  top:0;
  width: 100%;
  position: sticky;
  z-index: 9;
  border-bottom: #f9f9f9;
 }

 .nav-links a {
  color: gray;
  display: inline;
 }

.container {
  margin: 50px auto;
  width: 700px;
  height: 100px
}

.searchField{
  display: flex;
  flex-direction: row;
  height: 50px;
}

.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  background-color: white;
  width: 100%;
  padding: 10px 35px 10px 15px;
  border-style: groove;
  border-color: #003060;
  border-radius: 100px;
  margin: 5px 5px 5px 5px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -38px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px 0px 30px;
}


.column {
  flex: 25%; 
  max-width: 25%;
  padding: 30px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.footer
{
  bottom:0;
  width:100%;
  height:60px; 
  position: sticky;
  background:white;

}
.wrapper-user {
  display: grid;
  background-color: #fafafa;
  grid-template-columns: 1fr 1fr 6fr 2fr ;
  padding-bottom: 5px;
  padding: 10px;
  align-items: center;
}
.container-user {
  width: 500px;
  height: 50px;
  grid-column-start: 3;
  grid-column-end: 3;
  margin: auto;
}
.btn1-user{
    grid-column-start: 2;
    grid-column-end: 2;
  

}

.user_info{
  display: flex;
  flex-direction: column;
}

.edit_description{
  color: #939393;
  background: transparent;
  border-color: transparent;
}

.edit_description:hover{
  color: #5b5f62;
}

.form-popup{
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  
}

.form-container input[type=text]{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.uploadBtn{
  transition: all 0.2s ease-in-out;
  background-color: #b2e2ff;
  
}

.uploadBtn:hover{
  box-shadow: 0 5px 15px #b2e2ff;
}


